name: SQL Linter
on:
  push:
    branches: main

jobs:
  SQLLinter:
    # використання Docker-image із вказаною версією ОС
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code in Repository
      # клонування репозиторію для подальшої роботи з файлами на сервері
      # в каталог $GITHUB_WORKSPACE
      uses: actions/checkout@v3

    - name: Start SQL Linter
      # виконання декількох послідовних команд shell-інтерпретатором
      run: |
        pip install sqlfluff
        sqlfluff lint $GITHUB_WORKSPACE/DataSchema.sql --dialect mysql
